@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:blue" display-2"><strong>TechnoIsland Library</strong></h1>
    <p style="color:dodgerblue" class=" display-4">The one and only open Book Store with interesting and educative catalog.  Read, borrow and discover more!</p>
</div>
